
*.class
 
# Package Files #
*.jar
*.war
*.ear
target/
 
# virtual machine crash logs
hs_err_pid*
 
#eclipse
*.settings
*.project
*.classpath

/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.mvn
target/
HELP.md
mvnw
mvnw.cmd


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

