<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
       default-autowire="byName" default-lazy-init="false">
    <!-- proxy-target-class默认"false",更改为"ture"使用CGLib动态代理 -->
    <!--<aop:aspectj-autoproxy proxy-target-class="true" />-->

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:application.properties"/>
    </bean>
    <import resource="classpath:spring/dubbo-provider.xml"/>

</beans>
